@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* #region GENERAL STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 5px;

}

.btn {
    padding: .25rem .5rem;
    color: white;
    background: #0088a9;
    border-radius: .25rem;
    float: left;
}

.fa-user {
    padding-left: 5px;
}

.fa-calendar {
    padding-left: 5px;
}


.btn:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9 !important;
    background-color: white !important;
}

.btn-big {
    padding: .3px .5px;
    background-color: transparent !important;
    line-height: 1.3rem;
    width: 100px;
    height: 50px;
    font-size: large;
}

.btn-big:hover {
    transition: all 0.3s ease 0s;
    background-color: transparent !important;
    color: #0088a9 !important;
}


.text-input {
    margin-top: 10px;
    padding: .7rem 0.3rem;
    display: block;
    width: 100%;
    height: 60%;
    border-radius: 15px;
    color: white;
    line-height: 1.5rem;
    font-family: 'Lora', serif;
    border: 1px solid lightgray;
    font-size: 1.2em;
    /* background-color: white; */
}

/* #endregion GENERAL STYLING */

/* #region NAVBAR */

li,
a {

    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header .logo {
    cursor: pointer;
    float: left;
    position: absolute;
    height: 70px;
    width: 250px
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
}

header ul {
    float: right;
    margin: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
    z-index: 8888;
}

header ul li:hover ul {
    display: block;
}

header ul li a {
    display: block;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
}

header ul li a:hover {
    color: rgba(0, 136, 169, 1);
}

header ul li ul {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 100px;
    padding-top: 5px;
    display: none;

}

header ul li ul li {
    float: right;
    width: 100%;
    height: 40px;
    right: 20px;
    z-index: 8888;
}

header ul li ul li a {
    float: left;
    padding: 5px;
    /* color:#24252A; */
    /* background-color:#0088a9; */
}


header ul li ul li a.logout {
    color: rgb(255, 0, 0, 1);
    transition: all 0.3s ease 0s;
}

header ul li ul li a.logout:hover {
    color: rgb(255, 0, 0, .7);
    transition: all 0.3s ease 0s;
}


header ul li ul li a:hover {
    /* padding: .5px; */
    transition: all 0.3s ease 0s;
    color: #0088a9;
    /* background-color: rgba(0,136,169, .8); */
}

header .menu-toggle {
    display: None;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover {
    transition: all 0.3s ease 0s;
    color: hsl(192, 52%, 51%);
}

/* #endregion NAVBAR */

/* #region POST SLIDER STYLING */

.post-slider {
    position: relative;
    top: 30px;
    color: white;
}

.post-slider .slider-title {
    position: relative;
    text-align: center;
    /* left:350px; */
    margin: 30px 30px;
    font-family: "Montserrat", sans-serif;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.post-slider .next:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: white;
    cursor: pointer;

}

.post-slider .prev:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    /* background-color: white; */
}

.post-slider .post-wrapper .post {
    position: relative;
    display: inline-block;

    width: 100px;
    height: 350px;
    margin: 0px 10px;
    background-color: #24252A;
    box-shadow: 1rem 1rem 1rem -.5rem #ffffff33;
    border-radius: 5px;
    font-size: .7em;
    border: 2px solid
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;

}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* #endregion POST SLIDER STYLING */

/* #region CONTENT STYLING */
.content {
    margin: 40px;
    margin-left: 60px;
    color: white;

}

.content .main-content.single .post-title {
    margin-bottom: 40px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid white;

}

.content .main-content.single {
    position: relative;
    top: 20px;

    background-color: transparent;
    color: #007a99;
    /* border:2px solid white; */
    border-radius: 0;
    ;
    /* color:white; */
}

.content .main-content {
    width: 70%;
    float: left;
    background-color: #0a5c70;
    /* border:3px solid white; */
    text-align: left;
    border-radius: 15px;
}




.content .main-content .recent-post-title {
    margin: 30px 30px 20px 30px;
    background-color: inherit;
    border-bottom: 2px solid white;
    /* width:500px; */
}

.content .main-content .post {
    width: 95%;
    height: 300px;
    margin: 30px auto;
    /* background-color:rgb(53, 53, 53); */
    position: relative;
    box-shadow: 1rem 1rem 1rem -.5rem rgba(156, 155, 155, 0.2);
}

.content .popular .post {
    border-top: 1px solid #757575;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.content .popular .post img {
    float: left;
    height: 40%;
    width: 40%;
}

.content .main-content .post .read-more {
    position: absolute;
    float: right;
    /* margin-top: 210px; */
    margin-top: 17% ;
    margin-left: 32%;
    background-color: transparent;
    border: 1px solid #0088a9
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px 10px 0px 20px;
    float: right;
    font-size: 10px;
}

.content .main-content .post .recent-post-heading {

    font-size: 24px;
    /* color:#0088a9; */
}

.content .main-content .post .preview-text {
    /* width: 60%; */
    padding: 10px 20px 10px 5px;
    float: right;
    font-size: medium;
    /* font-style: italic; */
}

/* #endregion */

/* #region SIDEBAR STYLING */
.content .sidebar .section {
    margin-top: 20px;
    padding: 10px;
    /* margin-bottom: 20px; */
}

.content .sidebar .section.single {}

.content .sidebar {
    padding-left: 0px;
    width: 20%;
    float: left;
    margin-left: 60px;
    background-color: #0a5c70;
    /* border: 3px solid white; */
    /* border-radius:5px; */
}

.content .sidebar .section .section-title {
    margin: 10px 0px 20px 5px;
}

.content .sidebar .section.topics ul {
    margin: 0px;
    list-style: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.content .sidebar .section.topics ul li a {
    border-bottom: 1px solid lightgray;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all 0.4s ease 0s;

}

.content .sidebar .section.topics ul li a:hover {
    transition: all 0.4s ease 0s;
    padding-left: 10px;
}

/* #endregion //SIDEBAR */

/* #region FOOTER STYLING */
.footer {
    color: rgb(255, 255, 255);
    background-color: #24252A;
    height: 400px;
    position: relative;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: small;
    margin-bottom: 8px;

}

.footer .footer-content .logo {
    width: auto;
    height: 70px;
    align-items: center;
    position: relative;
}

.footer .footer-content .footer-section.about {
    padding-left: 50px;
}

.footer .footer-content .about .socials a {
    border: 1px solid #0088a9;
    width: 45px;
    height: 41px;
    padding-top: 7px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    border-width: 3px;
    ;
}

.footer .footer-content .links ul a {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    font-size: large;
    margin-left: 10px;
    transition: all 0.4s ease 0s;

}

.footer .footer-content .links ul a:hover {
    color: #0088a9;
    background-color: #0088a9;
    transition: all 0.4s ease 0s;
    padding-left: 20px;

}

.footer .footer-content {
    height: 350px;
    display: flex;

}

.footer .footer-content .contact-form .contact-input {
    background-color: #323232;
    margin-bottom: 20px;
    line-height: 1.5rem;
    width: 70%;
    margin-left: 100px;

    font-size: medium;
}

.footer .footer-content .contact-form .contact-input:focus {
    background-color: #1a1a1a;
    border: 1px solid white !important;

}

.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;

}

.footer .footer-content .contact-form .contact-btn a:hover {
    clear: both;
    background-color: #0088a9;
    border: 1px solid white !important;
}


.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    /* border: 3px solid white; */
    border-top: 2px solid white;
    background-color: #24252A;
    ;

}

.footer .footer-bottom {
    width: 100%;
    text-align: center;
    background-color: #323232;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: rgb(124, 124, 124);
    padding-top: 15px;
    position: absolute;
}




/* #endregion //FOOTER STYLING */

/* #region MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    header .logo {
        /* cursor: pointer; */
        float: left;
        position: relative;
        left: 20px;

    }

    header {
        position: relative
    }

    header ul {
        position: absolute;
        top: 100px;
        width: 100%;
        max-height: 0;
        overflow: hidden;

    }

    .showing {
        max-height: 150em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        right: 50px;
        width: 100%
    }

    header ul li ul li a {
        padding: 5px;
        color: white;
        background-color: #24252A;
        padding-left: 50px;
        /* background-color:#0088a9; */
    }

    header ul li ul li a.logout {
        /* background-color: rgb(255, 0, 0, 1); */
        transition: all 0.3s ease 0s;
    }

    header .menu-toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        /* margin-left:300px; */
        top: 40px;
        font-size: 1.5em;
        color: white;
        background-color: transparent;

    }

}

/*#endregion MEDIA QUERIES*/